/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-14, 15:01:18
    Author     : moonbite
*/
#ONAS{
    background:white; 
    .descriptions{
        padding:20px 0;


        h2{
            color:  #010101;
            font-size: 35px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            display: inline-block;
            font-family: Oswald;
        }

        .red-rect{
            background: @red;
            width:50px;
            height:7px;
            display:inline-block;
            margin-left:10px;
        }

        .content{
            list-style-type: disc;
            position: relative;
            top:-20px;
            /*color:  rgba(0, 0, 0, 0.55);*/
            font-size: 22px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            white-space: pre-line;
            /*overflow: hidden;*/
            display: -webkit-box; 
            /*-webkit-line-clamp: 3;*/
            -webkit-box-orient: vertical;
            line-height: 32px;
            font-weight: 100;
            letter-spacing: 1px;
            &.absolute{
                position: absolute;
                top: 0px;
            }
            .li{
                line-height: 1.2;
                white-space: nowrap;
                display: -webkit-inline-box;
                &:first-child{
                    margin-top:20px;
                }
                .bull{
                    color:@red;
                    display: list-item;
                    list-style: square;
                }
            }
        }

        @media(max-width:1200px)
            {
            h2{
                font-size:20px;
            }
            .content{
                font-size:16px;
            }
            .red-rect{

                width:30px;
                height:3px;

            }
        }
        @media(max-width:1600px)
            {
            h2{
                font-size:22px;
            }
            .content{
                font-size:18px;
            }

        }
    }
    .grey{
        background:#aaa;

        padding:60px 0;
        @media(max-width:1200px){
            padding:15px 0; 

        }
        @media(max-width:992px){
            .container{
                margin:0 !important;
                width:100% !important;
            }
        }
        position:absolute;
        bottom:0px;
        width:100%;
        @media(max-width:480px)
            {
            display:none;
        }
        .workers{
            .worker-outside{
                padding:10px;
                width:20%;
                float:left;
                cursor: pointer;
                &:hover{
                    /*transform: scale(1.1);*/
                    z-index: 22;



                    .worker{
                        background-size: 110% auto ;

                        .description{
                            /*transform: translateY(0px) scale(1) !important;*/
                            opacity:1;
                            .moving{
                                /*transform: translateY(0px) !important;*/ 
                                /*letter-spacing: 0px;*/
                                color:white;
                            }
                        }
                        /*background-color: rgba(0,0,0,0.5);*/
                    }
                    .name{
                        /*background:@red-transparent !important;*/
                    }
                }
                .worker{
                    width:100%;

                    display:block;

                    background-size: 100% auto ;
                    height: 251px;
                    /*padding:10px;*/
                    background-repeat: no-repeat;
                    background-position: center;
                    position:relative;
                    .description{
                        overflow-y: hidden;
                        overflow-x: hidden;
                        width:100%;
                        height: 100%;
                        opacity:0;


                        background:rgba(0,0,0,0.5);
                        padding:15px;
                        color:white;
                        .moving{
                            /*transform: translateX(-222px) scale(0.1);*/
                            /*letter-spacing: 222px;*/
                            color:@red-transparent;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 7;
                            -webkit-box-orient: vertical;
                        }
                    }
                    .name{
                        position: absolute;
                        bottom:-10px;
                        left:0;
                        background:@red;
                        padding:10px;
                        padding-right:30px;
                        padding-left:15px;
                        color:white;
                        font-size: 19px;/* Przybliżenie (wynika z podstawienia czcionki) */
                        font-weight: 700;
                    }
                }
            }
            @media(max-width:1200px){
                .worker-outside{
                    height: 170px;

                }
                .worker{
                    height: 150px !important;
                    .name{
                        font-size: 14px !important;
                        padding-right:15px !important;;
                        padding-left:15px !important;
                        bottom:-35px !important;
                        height:42px !important;
                    }
                }
            }

            @media(max-width:860px){
                .worker-outside{
                    height: 200px;
                }
                .worker{
                    height: 100px !important;
                    .name{
                        font-size: 14px !important;
                        padding-right:15px !important;;
                        padding-left:15px !important;
                        bottom:-55px !important;
                        height:64px !important;
                    }
                }
            }
        }
    }
}