#KONTAKT{

    
    h2{
        font-weight: 700;
        font-family: Oswald;
    }

    /*background-image: url(../img/bg-contact.jpg);*/
    background: transparent;
    background-size:cover;
    background-position:center;

    @media(max-width:992px)
        {
        position: relative;
        overflow-y: hidden !important;
        /*height:auto !important;*/
        /*min-height:auto !important;*/
        .dark-transparent{
            /*            height:auto !important;
                        min-height:auto !important;*/
            position: relative;
            overflow-y:hidden !important;
        }
    }

    .grid{
        >*{
            white-space: pre-line;
            font-family: 'Myriad Pro';
            /*color:  #ffffff;*/
            font-size: 16px;
            font-weight: 400;
            line-height: 35px;
            color:rgba(255,255,255,0.8);
            line-height: 26px;
            font-family: SinkinSans;
            h2{
                font-family: 'HelveticaNeue';
                color:white;
                font-size: 28px;/* Przybliżenie (wynika z podstawienia czcionki) */
                font-weight: 700;
                margin:0 !important; 
            }

        }
        .rekrutacja{
            line-height:15px;
            >*{color:white;

            }
            h2{
                margin-top: 19px !important;
            }
            .little{
                font-family: 'Myriad Pro';
                color:  #ffffff;
                font-size: 13px;
                font-weight: 400;
                margin:0;
                line-height: 16px;
            }
            .email{
                margin:0;
                @media(min-width:992px){
                    text-align:left;
                }
                line-height: 0px;
                margin-bottom: -3px;
                @media(max-width:1400px)
                    {
                    line-height:22px;
                }
            }
            .first{
                line-height: 29px;
                margin-top:17px;
                @media(max-width:1400px)
                    {
                    line-height:19px;
                }

            }
        }
    }

    .email{
        margin-top:10px;
        margin-bottom: 10px;
        width:100%;
        text-align: center;
        font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 700;
        margin-left: -20px;
        a{
            color:white !important;
            /*&:hover{background:@red-transparent !important;;}*/
        }
    }
    
                .dark-transparent{
                background: none !important;
            }

}
.newsletter{
    background-color:  #ebebeb;
    height:205px;
    /*    @media(min-width:992px){
            position:absolute;
    
        }*/
    bottom:0;
    width:100%;
    color:black;
    position: absolute;
    font-family: Oswald;
    .newsletter-discount{
        @media(min-width:1200px){
            width:40%;
            position: relative;
            left: 30%;
            margin:20px 0;
        }
        @media(max-width:1200px){
            width:100%;  
        }
        text-align:center;
        font-size: 16px;/* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 700;
        margin:30px 0;

    }

    form{
        display: table;
        width:100%;
        /*table-layout:fixed !important;*/
        >*{
            vertical-align: middle;
            display:table-cell !important;
        }
        .header{
            width:290px;
            @media(max-width:768px)
                {
                position: relative;
                margin-top: -16px;
            }
        }
        .button{
            width:260px;
            margin-right:15px;
        }
        .input{
            padding-right: 10px;
        }
        .col{

            h3{
                font-size: 40px;/* Przybliżenie (wynika z podstawienia czcionki) */
                font-weight: 700;
            }
            input{
                @media(min-width:992px){
                    height: 60px;  
                    font-size: 25px;

                }
                @media(max-width:400px){
                    width:200px !important;

                }
                padding-left: 20px;
                color:  #c6c7c8;
                /* Przybliżenie (wynika z podstawienia czcionki) */
                font-weight: 400;
                width:100%;


            }
            /*                           transform-style: preserve-3d;
                                    -webkit-transform-style: preserve-3d;
                                            -webkit-perspective: 150px;  
                                    -webkit-perspective-origin: 10% 0; 
                                    perspective: 150px;
                                    perspective-origin: 10% 0;*/
            button{
                @media(min-width:992px){
                    padding-left: 30px;
                    padding-right: 30px; 
                    font-size: 24px;/* Przybliżenie (wynika z podstawienia czcionki) */
                    height: 83px !important;
                    margin-right:15px;
                    width:260px;
                    height: 60px !important;
                }
                &:hover{
                    background: @red-transparent !important;
                    /*                        -webkit-transform: scale(1.1) ;   
                                            transform: rotateY(1.1) ;*/
                    /*                        -webkit-transform: rotateY(-5deg) ;  Safari 
                                            transform: rotateY(-5deg) ;*/

                }
                font-weight: 700;

                color:white;
                background:@red;

                border:0;

            }

        }

    }

    @media(max-width:992px)
        {

        .grid >*{

            font-size:16px;
            line-height: 20px;
            background:rgba(0,0,0,0.5);
            text-align: center;
            margin-bottom:5px;
            padding-bottom: 20px;
        }
        .newsletter {
            height:auto;
            padding:10px;

        }
        h1{
            font-size:25px;
            margin-top: 45px;
        }

        form{ 
            &>.input,&>.header{
                display: block !important;
                float:none !important;
            }
            .input{width:100%;
                   input{width:100%;display: block;
                         font-size: 16px !important;
                         height:40px !important;
                   }
            }
            .button{
                width:30%;
                position: relative;
                top:27px;
                height:40px !important;
                font-size:16px !important;
                left:-20px;
                @media(max-width:400px){
                    left:-80px !important;

                }
                button{
                    height:40px !important;
                    font-size:16px !important;
                    padding-top: 9px !important;

                }
            }
            h3{font-size:22px !important;}
        }

    }
    @media(max-width:768px){
        .button{
            top:19px !important;
        }
    }

}
