.trans{
    .trans(200ms, linear);
}
.r45{
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 0 !important;
}
.r-45{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -2px !important;
}
.bw-filter{
    opacity: 0.75;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    .trans(0.5s, ease-in-out);
    &:hover,
        &.active{
        opacity: 1;
        -ms-filter: none;
        filter: none;
    }
}


.content-center{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;

    padding: 0;
    margin: 0;
    position: relative;
}


.m0auto{
    margin: 0 auto; 
}



