.myriad{
    font-family: 'MYRIADPROREGULAR';
}

.menu-bottom-text{
    /*font-family: 'Myriad Pro';*/
    color:  #ffffff;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    line-height: 33px;
}

.big{
    font-size:60px;
    font-weight: 500;
}
.myriad-medium{
    font-size: 28px;
    font-weight: 500;
    margin:30px;
}