@font-face { 
    font-family: 'SinkinSans';
    src: url('../fonts/sinkin-sans/SinkinSans-700Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face { 
    font-family: 'SinkinSans';
    src: url('../fonts/sinkin-sans/SinkinSans-400Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'SinkinSans'; 
    src: url('../fonts/sinkin-sans/SinkinSans-200XLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal; 
}


@font-face { 
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face { 
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswal-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face { 
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-Light.ttf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face { 
    font-family: 'Oswald';
    src: url('../fonts/oswald/Oswald-ExtraLight.ttf') format('opentype');
    font-weight: 100;
    font-style: normal;
}