/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-14, 15:02:09
    Author     : moonbite
*/
.pswp__zoom-wrap{
    touch-action:manipulation !important;
}
.cstiles__item-content{
    cursor: pointer;
    .dark{
        width:100%;
        height:100%;
        opacity:0;
        background:rgba(0,0,0,0.5);
        display:flex;
        align-items:flex-end;
        color:white;
        .text{
            padding:10px;
            transform:translateX(-100px);
        }
    }
    &:hover{
        .dark{
            opacity:1;
        }
        .text{
            transform:translateX(0);
            font-size:16px;
        }
        /*          -ms-transform: rotate(-7deg)  scale(0.8);  IE 9 
                -webkit-transform: rotate(-7deg) scale(0.8);  Chrome, Safari, Opera 
                transform: rotate(-7deg) scale(0.8);*/
    }
}
.show-more-photos{
    cursor:pointer;
    width:100%;
    text-align: center;
    /*font-family: 'MyriadPro';*/
    font-family: Oswald;
    font-weight: 200;
    margin: 0px 0px;
    @media(max-width:768px)
        {


        margin:15px 0;;
    }
    &:hover{
        color:@red;
        /*background:@red-transparent;*/
        /*color:white;*/
        /*letter-spacing: 3px;*/
    }
}
.galleries{
    @media(max-width:1700px)
        {


        margin-top:40px;
    }
}
.pswp__container{
    touch-action: initial !important;;
    -webkit-touch-callout: initial !important;
}