.navbar-default .navbar-nav > li > a:focus{
    /*color:@red;*/
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:active{
    color:@red;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    /*color: #18BC9C;*/
    background-color: transparent;
    outline: 0;
}
@media(max-width:1400px){
    .navbar-fixed-top{
        .limits-image{
            left: 280px;
        }
        ul li a{
            margin-left: 15px !important;
        }
    }
}
.navbar-fixed-top{
    .limits-image{
        display: none;
        /*height: 100px;*/
        height: 80px;
        position:absolute;
        left:350px;
        /*top:20px;*/
        top: 14px;

    }
    @media(min-width:874px){
        padding:0 70px;
        /*        height: 144px !important;*/
        height: 110px !important;
    }
    @media(max-width:874px)
        {
        padding:0 10px;
    }
    border:0 !important;
    display:flex;
    align-items:  center;
    background-color:  @black-trans;

    /*vertical-align:middle;*/
    *{
        background:none;
    }

    >*{
        /*height:100%;*/
        /*display: inline-table;*/
    }
    .navbar-toggle{
        border:1px solid white;
    }

    @media(max-width:768px){
        padding:10px 5px;
        .navbar-brand{
            padding:0px 10px;
        }
        .top-menu{
            width:100%;
        }
        li a{
            font-size: 22px !important;
            margin-left: 10px !important;
            background:rgba(0,0,0,0.9);
            margin-top:2px;
            padding:20px 25px !important;
        }
        .languages{
            padding:0 20px;
            margin: auto;
            display:block !important;
            >*{
                padding:30px;
                display: block;
                background: rgba(0,0,0,0.5);
            }
        }
        .navbar-responsive-collapse{
            overflow: visible !important;
            background:rgba(0,0,0,0.4);
            position:fixed;
            width:100% !important;
            top:70px;
            left:-10px;
            margin:10px;
            /*@media(max-width:768px){*/
            /*border:4px solid @red-transparent;*/
            /*}*/
            a{border:1px solid @red-transparent;}
            .pull-right{
                width:100%;
            }
            /*display:block !important;*/
        }
        .collapsing{
            border:4px solid rgba(0,0,0,0);
        }
    }
    @media(min-width:768px){
        .navbar-brand{
            height:100%;
        }
    }
    .navbar-collapse{
        width:80%;
        >.pull-right{
            display: flex;
        }
    }
    .navbar-header{
        width:100%;
    }
    @media(min-width:768px)
        {
        .navbar-header{
            width:20%;
        }
    }

    ul{

        li{
            a{
                @media(min-width:1200px)
                    {
                    margin-left: 30px;
                    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 2px;
                }

                font-family: HelveticaNeue;
                color:  #ffffff;
                font-size: 18px;/* Przybliżenie (wynika z podstawienia czcionki) */
                font-weight: 500;

                @media(min-width:768px){
                    &:hover{
                        color:white !important;
                        background:rgb(225,0,0) !important;
                        /*                        -ms-transform: rotate(-7deg) translate translateY(-32px);  IE 9 
                                                -webkit-transform: rotate(-7deg) translateY(-32px);  Chrome, Safari, Opera 
                                                transform: scale(1.2);*/

                        /*text-shadow: 0px 0px 5px #000000;*/
                    }
                }
                @media(max-width:768px){
                    &:hover{

                        color:white !important;
                        background: @red-transparent !important;

                        /*text-shadow: 0px 0px 5px #000000;*/
                    }
                }
            }
        }
    }
    .slash{
        font-size:30px;
        color:white;
        margin-right: 20px;
        font-weight: 500;

    }
    .languages{
        display: flex;
        align-items: center;
        >*{
            margin-left:15px;

        }
    }

}