help{
    font-size: 40px;
}
#HOME{
    /*min-height: 400px;*/
    background: transparent;

    li.active{
        a{ 
            color:white !important;
            cursor:pointer !important;
            &:hover{
                color: @red !important;
                border-top: 1px solid transparent; 
            }
        }
        &:hover{
            /*background:@red-transparent !important;*/
            a{
                color: @red;
            }
        }
    }

    @media(max-height:832px),(max-width:1116px){
        .dark-transparent{
            padding-top:130px;
            .inside{
                padding:30px !important;
                >img{
                    height:20vw;
                }
                .exp{
                    margin-bottom:10px;
                    h2{
                        font-size:37px;
                        padding-top:0;
                        margin-top: 0; 
                    }
                    &>div>div{

                        font-size: 20px;

                        padding:10px 20px;
                        /*padding-top: 5px;*/
                        margin:5px;
                    }
                }
            }
        }
        help{
            font-size: 22px !important;
        }
    }
    @media(max-width:768px){
        .dark-transparent{
            padding-top:100px;
            .inside{
                padding:20px !important;
                >img{
                    height:30vw;
                }
                .exp{
                    margin-bottom:10px;
                    h2{
                        font-size:32px;
                        padding-top:0;
                        margin-top: 0;
                    }
                    &>div>div{
                        display:block;
                        font-size: 16px;
                        background: rgba(0,0,0,0.3);
                        padding:10px 20px;
                        padding-top: 5px;
                        margin:5px;
                    }
                }
            }
        }
    }

    .inside{
        height:100%;
        /*padding:140px 100px;*/
        padding: 65px 100px;
        overflow-x: hidden;

        img{
            width: 430px
        }

        .exp{

            position:absolute;
            bottom:15vh;
            left:0;
            width:100%;
            text-align:center;
            >*{
                display:table;
                margin:0 auto;
                >*{

                    padding:0 30px;
                    display:table-cell;
                    text-align:center;
                    color:  #ffffff;
                    /*font-size: 26px;*/ 
                    font-size: 35px;

                    /*font-weight: 500;*/
                    /*font-family: Impact;*/
                    font-weight: 700;
                    font-family: Oswald;
                    h2{ 
                        /*color: @red;*/
                        color: rgb(225,0,0);
                        /*font-size: 72px;*/ 
                        font-size: 80px;
                        font-weight: 700;
                        text-align: center; 
                        font-family: Impact;
                    }
                }
            }

        }
    }
}
