/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-27, 13:38:46
    Author     : 
*/

.info-box{
    position: absolute;
    right: 0px;
    top: 125px;
    z-index: 20;
    float: left;
    color: black; 
    height: auto;
    width: 65px;
    text-align: center;
    .button-info{
        width: 65px;
        height: 65px;
        margin-bottom: 5px;
        border-radius: 10px 0px 0px 10px;
        padding-top: 6px;
        cursor: pointer;
        -webkit-transform: scale(1,1);
        -moz-transform: scale(1,1);
        -ms-transform: scale(1,1);
        -o-transform: scale(1,1);
        transform: scale(1,1);
        transition: 0.5s;
        i{
            font-size: 36px;
            color: #ffffff;
        }
        &:hover{
            -webkit-transform: scale(1.07, 1.07);
            -moz-transform: scale(1.07, 1.07);
            -ms-transform: scale(1.07, 1.07);
            -o-transform: scale(1.07, 1.07);
            transform: scale(1.07, 1.07);
            opacity: 0.7;
        }
    }
    .facebook{
        background: #3b5699;
    }
    .instagram{
        /*        background: #e43f5f;
                background: #f09433; 
                background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
                background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );*/
        background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
    }
    .youtube{
        background: #d01c1e;
    }
    .in-icon{
        background: #0878b7;
    }
}