/*@import url("//fonts.googleapis.com/css?family=Lato:400,700,400italic");*/

@import "../vendor/bootstrap/less/bootstrap.less";
@import "../vendor/font-awesome/less/font-awesome.less";
@import "../vendor/like-box/css/fontello.css";
@import (inline) "../vendor/prism/themes/prism.css";
@import "variables.less";
@import "../fonts/fontello/css/fontello.css";
@import "../fonts/halveticaneue/stylesheet.css";
@import "../fonts/myriad/font.css";
@import "../vendor/magnific-popup/dist/magnific-popup.css";

/*@import "../fonts/halveticaneue/HalveticaNeueBold/stylesB.css";
@import "../fonts/halveticaneue/HalveticaNeueHeavy/styles.css";
@import "../fonts/halveticaneue/HalveticaNeueLight/styles.css";
@import "../fonts/halveticaneue/HalveticaNeueThin/styles.css"; */
@import "mixins";
@import "extensions";
@import "font-styles";
@import "bootswatch";
@import "header"; 
@import "home";
@import "offer";
@import "about-us";
@import "contact"; 
@import "gallery"; 
@import "trust";
@import "footer";
@import "slider";
@import "like-box";
@import "fonts";
@import "ResponsiveWebDesign";

@black-trans:  rgba(0, 0, 0, 0.55);
/*@black-trans:  rgba(0, 0, 0, 1.0);*/
/*@red:#f53737;*/
/*@red: #a2ff64;*/

/*Ostatnie*/
/*@red: #0de0c9;*/
/*@red: rgb(9,201,229);*/
@red: rgb(225,0,0);

/*@red-light:#e15454;*/
/*@red-light: #a2ff64;*/

/*Ostatnie*/
/*@red-light:#0de0c9;*/
/*@red-light: rgb(9,201,229);*/

/*blue - new*/
/*@red-light: rgb(9,201,229);*/
/*green - new*/
/*@red-light: rgb(229,212,20);*/
/*red - new*/
@red-light: rgb(225,0,0);




/*@red-transparent:rgba(13,224,201,0.7);*/
@red-transparent: rgba(255,0,0, 0.7);

/*l.n*/
.close-gallery{   
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-family: 'MyriadPro';
    font-size: 28px;
    font-weight: 500;
    padding-top: 25px !important;
    color: black;
    background: #fff;
    &:hover{
        color: @red;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
    border-bottom: 4px solid rgb(225,0,0);
    /*    font-family: Oswald;
        font-weight: 400;
        letter-spacing: 2px;*/
}
.position-left-white{
    color: #333;
    padding-left: 15px;
    height: 20% !important; background: #fff
}
.navbar-nav{
    li{
        a{
            padding-top: 8.5px;
            padding-bottom: 8.5px;  
        }
    }
}

/*@red-transparent:rgba(240,22,22,0.7);
a,.btn,input[type=submit],input[type=text],input[type=email],.bottom-menu>ul>li,
.btn-contact,.cstiles__item-content>.dark,
.cstiles__item-content>.dark>.text,.division,.show-more-photos,.worker,.description,.moving{

    .trans(200ms 0s, linear);; 

}
a:hover{
    color:@red !important;

}*/

a,.btn,input[type=submit],input[type=text],input[type=email],.bottom-menu>ul>li,
.btn-contact,.cstiles__item-content>.dark,
.cstiles__item-content>.dark>.text,.division,.show-more-photos,.worker,.description,.moving{

    .trans(200ms 0s, linear);; 

}
a:hover{
    color:@red !important;

}

.hidden{
    opacity:0;
    display: block !important;
}
.visible{
    opacity:1;
    display: block !important;
}
/* Homepage */
body {
    font-family: 'Oswald';
    background-color: white;

}
@media (min-width: 1400px)
{
    .container{
        width: 1370px;
    }
}
button,input{
    border-radius: 0 !important;
}
input{
    border-color:#b7b7b7;
    border-style: solid;
    background-color:  #f3f1f1;
    &:active{
        border-color: @red;
    }
}
input[type=text],input[type=email]{
    &:hover,&:focus,&:active{
        border-color:@red-transparent !important;
        background:white !important; 
        color:black !important;
        outline-color: @red;

    }
}
.divisions{
    position: absolute;
    top: 0;
    width:100%;
    .division{
        overflow-x:hidden;
        overflow-y:auto;
        position:relative;

        width: 100%; 
        min-height:100vh;
        display:block;

        clear: both; 
        background-size: cover;
        background-position: center top;
        h1{
            font-size: 40px;/* Przybliżenie (wynika z podstawienia czcionki) */
            font-weight: 700;
            width:100%;
            /*text-align:center;*/
            text-align: left;
            font-family: Oswald;
        }
        >*{
            padding-top:50px;
            @media(min-width:768px){
                padding-top:147px;
            }
            @media(min-width:1920px){
                padding-top:148px;
            }
            @media(min-width:2100px){
                padding-top:233px;
            }
        }
        .dark-transparent{
            position:absolute;
            width: 100%; 
            height:100%;
            background:rgba(0,0,0,0.45);
            color:white;
            padding-top: 135px;
            /*font-family: SinkinSans;*/
            font-family: Oswald;
        }
        .white{
            background:white !important;
            color:black;
            /**/
            padding-top: 100px;
            .position-left{
                padding-left: 15px;
            }
            h1{
                color:#333;
                font-family: Oswald;
            }
        }
        &#ONAS{
            .white{
                /*padding-top: 0px;*/
                padding-top: 90px;
            }

        }
        &#HOME, #KONTAKT{
            position: relative;
        }
    }
}

.bottom-menu{

    width:100%;
    position: absolute;
    bottom: 0;
    ul{

        position: relative;
        /*table-layout: fixed;*/
        width:100%;
        display: table;

        li{
            @media(min-width:1650px){
                width:25% !important; 
            } 
            display:table-cell ;
            float:none;
            text-align: center;

            text-align: center;
            /*height:90px;*/
            height: 45px;
            vertical-align:middle;

            &:not(.active){
                &:hover{
                    /*                    background: rgb(225,0,0);*/
                    a{
                        border-top: 0 !important;
                        color: #e10000 !important;
                    }
                    /*                    z-index: 222;
                                        position: relative;*/
                }
            }

            &.active{
                a{ color:@red;}
            }
            a{
                border-top:1px solid rgba(255, 255, 255, 0.66);
                border-bottom:1px solid rgba(255, 255, 255, 0.66);
                border-right:1px solid rgba(255, 255, 255, 0.48);
                height: 100%;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                background:none !important;
                margin:0 auto;
                /*font-family: 'MyriadPro';*/ 
                font-weight: 600;
                /*display: table-cell;*/
                text-align: center;
                /*height:100%;*/
                vertical-align:middle;
                font-size: 20px;
                height: 45px;
                &:hover,&:active{
                    background:none;
                }

                &:extend(.menu-bottom-text);
            }
            &:last{
                a{border-right: none;}
            }
            &:first{
                a{border-left: none;}
            }
        }
    }
}
/*@media(max-height:732px) , (max-width:850px){
    .bottom-menu{
        li{
            display: inline-block !important;
            height:auto !important;
            background:rgba(0,0,0,0.3);
            &>a{
                font-size: 12px !important;
                line-height: 22px !important;
                padding:5px !important
            }
        }
    }
}*/

.btn{
    padding:15px 30px;
    color: white;
    /*    background: rgba(255,255,255,0.7);*/
    background:transparent;
    border:1px solid rgba(255,255,255,0.5);
    border-radius: 0;
    font-size:18px;
    font-weight: 700;
    &:hover{
        background: @red-transparent;
        color: white !important;
    }
}

.btn-contact{

    border:1px solid @red-light;
    color:  #ffffff;
    font-size: 14px;/* Przybliżenie (wynika z podstawienia czcionki) */
    font-weight: 700;
    background:transparent;
    padding-left:20px;
    border-radius:10px;
    height:42px;
    padding-right:0;
    display: flex;
    padding-top: 10px;
    cursor:pointer;
    i{

        margin-left: 20px;
        background: @red-light;
        display: inline-block;
        height:63px !important;
        width:63px !important;

        border-radius: 40px;
        position: relative;
        top: -22px;
        left: 12px;
        &:before{
            font-size: 40px;
            position: relative;
            top: 15px;
            left: 5px;
        }
    }
    .optional{
        display: none;
        width:0px;
        height: 0px;
        overflow: hidden;
    }
    &:hover{
        background:@red-transparent;
        /*        -ms-transform: rotate(-7deg)  translateY(10px);  IE 9 
                -webkit-transform: rotate(-7deg) translateY(10px);  Chrome, Safari, Opera */

        /*transform: rotate(-7deg) translateY(10px);*/
        /*height:100px;*/
        .optional{

            /*            width:auto;
                        height: auto;*/

        }
    }
}

.mod{
    height: 76.5% !important;
}

svg{
    margin: 30px 0px; 
}
g.person{
    opacity: 0;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;

    cursor: pointer;
    &:hover{ 
        opacity: 1;  
    }
}

@media(max-width:768px)
{
    .btn-get{
        font-size:18px; 
        padding:10px;

    }
}
/*.absolute-center{
    position:absolute;
    left:50%;
    >*{
        position:relative;
        left:-50%;
    }
}*/