
#OFERTA{
    /*background-image: url(../img/bg-2.jpg);*/
    background: transparent;
    overflow-y:hidden;
    .contact-with-us{
        position: absolute;
        bottom:150px;
        right:100px;
    }
    .inside{
        height:100%;
        padding:80px 100px;
        /*overflow-x: hidden;*/
    }
    .slider-block {

        display:flex;
        align-items:center;
        justify-content:center;
        height:70%;

    }
    .slider-content{

        color:  #ffffff;
        /* Przybliżenie (wynika z podstawienia czcionki) */
        font-weight: 700;

        /*background-color: rgba(0, 0, 0, 0.6);*/
        /*background:none !important;*/
        .padd{
            p{
                margin: 0 0 24.5px; 
                font-weight: 100;
                letter-spacing: 1px; 
                /*font-size: 24px;*/
                font-size: 19px;
                font-family: Oswald;
                line-height: 25px;
            }
        }
        ul{
            li{
                font-size: 19px;
                font-weight: 100;
                letter-spacing: 1px;
                list-style: square;
                color: @red;
                line-height: 25px;
                span{
                    color: #fff;
                }
            }
        }
        @media(min-width:800px) and (max-width:1200px){
            >*{
                font-size: 22px;
                line-height:35px;
                h1{
                    font-size: 50px;
                }
                big{
                    font-size: 43px;/* Przybliżenie (wynika z podstawienia czcionki) */

                }
            }
        }
        @media(min-width:1200px)
            {
            display:flex;
            align-items:center;
            justify-content:center;
            font-size: 28px ;
            line-height: 40px ;
            >*{
                h1{
                    font-size:60px;
                }
                big,h2{
                    font-size: 40px;/* Przybliżenie (wynika z podstawienia czcionki) */

                }
                .marker{
                    padding:15px;
                }
            }
        }
        @media(max-width:800px){
            >*{
                background:rgba(0,0,0,0.3);
                padding:20px;
                margin-top:15px;
                .marker{
                    padding:10px;
                    /*margin-top:15px;*/
                    line-height: 2.3;
                }
            }
        }

        >*{
            white-space: normal;
            font-family: Oswald;

           big,h2,h1{
               font-weight: 700;
               color: #ffffff;
               /*               font-family: Impact;*/
               font-family: Oswald;
           }
           .marker{
               background:@red;

           }
        }
    }
    .swiper-container-offer{
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        .swiper-button-next{
            background: url(/assets/media/arrowR-ffffff.png) no-repeat;
            left: auto;
            background-size: 60px;
            width: 60px;
            height: 64px;
            margin-right: 25px;
            -webkit-transition-duration: 1s; /* Safari */
            transition-duration: 1s;
            &:hover{
                margin-right: 5px;
            }
        }
        .swiper-button-prev{
            background: url(/assets/media/arrowL-ffffff.png) no-repeat;
            right: auto;
            background-size: 60px;  
            width: 60px;
            height: 64px;
            margin-left: 25px;
            -webkit-transition-duration: 1s; /* Safari */
            transition-duration: 1s;
            &:hover{
                margin-left: 5px;
            }
        }
        .swiper-slide{
            .dark-transparent{
                position: absolute;
                top:0;
            }
            position:relative;
            .slider-block{

            }
            &:before{
                position: absolute;
                top:0;
                left:0;
                background:rgba(0,0,0,0.6) !important;
                width:100%;
                height: 100%;
                content:'';
            }
        }
        .swiper-wrapper-offer{width:100%;
                              height: 100%;

                              >*{
                                  @media(min-width:800px)
                                      {
                                      padding-top:200px;
                                  }
                                  @media(max-width:800px)
                                      {
                                      padding-top:100px;
                                  }
                                  background-size: cover !important;
                                  background-position: center !important;
                                  width:100%;
                                  height:100%;
                              }
        }
    } 
    .bottom-menu{ 
        li.active{
            a{
                /*border-top: 0 !important; color:@red-light !important;*/
                background: @red-transparent !important;
                color: #fff;
                z-index: 222;
                position: relative;
                &:hover{
                    color: #fff !important;
                }
            }
        }
    }
    @media(max-width:800px)
        {
        /*        height:auto !important;
                .bottom-menu{
                    position:relative !important;
                    
                }*/
    }
}

