@media (max-width: 992px){
    p{
        font-size: 17px;
        line-height: 20px;
    }
    ul{
        li{
            font-size: 17px;
        }
    }
    #HOME{
        li{
            a{
                font-size: 17px; 
            }
        }
    }
    .bottom-menu{
        ul{
            li{
                a{
                    font-size: 17px;
                }
            }
        }
    }
    .info-box{
        width: 45px;
        .button-info{
            width: 45px;
            height: 45px;
            i{
                font-size: 23px;
            }
        }
    }
    #OFERTA{
        .slider-content{
            .padd{
                p{
                    line-height: 26px;
                }
            }
        }
        *{
            big{
                line-height: 43px;
            }
        }
    }
}

@media (max-width: 826px){
    .navbar-fixed-top{
        ul{
            li{
                a{
                    margin-left: 4px !important;
                }
            }
        }
    }
}

@media (max-width: 610px){
    p{
        font-size: 11px;
    }
    ul{
        li{
            font-size: 11px;
        }
    }
    #KONTAKT{
        .dark-transparent{
            text-align: center;
        }
        .email{
            a{
                font-size: 14px;
            }
        }
        .grid{
            *{
                font-size: 14px;
            }
        }
    }

    .info-box{
        display: none;
    }
    #HOME{
        .dark-transparent{
            .inside{
                img{
                    display: none;
                }
                .exp{
                    bottom: 36vh;
                    div{
                        div{
                            font-size: 12px;
                        }
                    }
                    h2{
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
            }
        }
        li{
            a{
                height: 100%;
            }
        }
        help{
            font-size: 14px !important;
        }
    }
    .bottom-menu{
        ul{
            li{
                display: block !important;
                height: 35px !important;
            }
        }
    }
    #OFERTA{
        .slider-content{
            margin-top: -40px;
            *{
                margin-top: 0px;
                padding: 0px 10px;
            }
            .padd{
                p{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            ul{
                li{
                    font-size: 14px;
                }
            }
        }
        .swiper-container-offer{
            .swiper-button-next, .swiper-button-prev{
                display: none;
            }
        }
    }
    .btn-get{
        font-size: 11px !important;
        padding: 8px 17px !important;
        margin-top: 5px;
    }
    .newsletter{
        padding: 30px 0px;
        form{
            .button{
                float: left !important;
                left: 0px !important;
                width: 100% !important;
            }
            .col{
                input{
                    width: 100% !important;
                }
                button{
                    width: 96% !important;
                }
            }
        }
    }
    form{
        .header{
            text-align: center;
        }
    }
    #ZAUFALI{
        /*display: none !important;*/
        .files{
            .swiper-slide{
                width: 92% !important;
            }
        }
    }
    #ONAS{
        .descriptions{
            .content{
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .divisions{
        .division{
            h1{
                font-size: 50px;
            }
        }
    }
    .bottom-menu{
        ul{
            li{
                a{
                    height: 100% !important;
                }
            }
        }
    }
}

@media (max-width: 375px){
    #OFERTA{
        .half{
            ul{
                display: none;
            }
        }
        .slider-content{
            .padd{
                p{
                    line-height: 16px;
                    margin-bottom: 0px;
                }
            }
        }  
    } 
    .bottom-menu{
        ul{
            li{
                height: 30px !important;
            }
        }
    }
}

/*WHD*/
@media (min-width: 2559px){
    .divisions .division#ONAS .white {
        padding: 15% 0px !important;
    }
    #ZAUFALI{
        padding: 500px 0px;
    }
    .divisions{
        .division{
            .dark-transparent{
                padding: 18% 0px !important;
            }
        }
    }
}
