/*Wyświetlanie slidera w mozilla*/
.partners{
    .section-content{
        display: -moz-box;
    }
}

.swiper-wrapper-partners{
    .swiper-slide{
        width: auto !important;
        margin: 0px 20px !important;
    }
}
.swiper-wrapper-files{
    .swiper-slide{
        img{
            border: 1px solid #bebebe;
        }
    }
}




[class^="swiper-wrapper-"], [class*=" swiper-wrapper-"]{
    display: table;
    align-items: center;
    white-space: nowrap;
    height:100%;
    >*{
        display:inline-table;
        vertical-align: middle;
    } 
}



.similar-product{
    >div>h3{
        text-align: center;
        position: relative;
        top:30px;
    }
    .product-element{
        float: none;
        display: inline-table;
        vertical-align: middle;
    }
}

.swiper-container-bestsellers,.swiper-container-new-products,.swiper-wrapper-similar-products
{

    overflow: hidden;
    width: 100%;
    .swiper-wrapper-new-products,.swiper-wrapper-bestsellers{

        white-space:nowrap;
        &>*{
            white-space:normal;
            /*display: inline-table;*/
            /*width: 140px !important;*/
        }


    }

}
.swiper-container-partners{
    img:hover{
        filter:contrast(150%);
        filter:saturate(150%);
    }
}
.partners{
    overflow-x: hidden;
}