
#ZAUFALI{

    background: white;


    height:100%;
    padding:80px 0px;
    /*overflow-x: hidden;*/
    .partners,.files{
        margin: 110px 0 !important;
        width:100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .logo-box-company{
        text-align: center;
        img{
            height: 80px;
            display: -webkit-inline-box;
        }
    }

}

