@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Thin.otf')  format('opentype'),
	     url('HelveticaNeue-Thin.woff') format('woff'), url('HelveticaNeue-Thin.ttf')  format('truetype'), url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Light.woff') format('woff'), url('HelveticaNeue-Light.ttf')  format('truetype'), url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-Heavy.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Heavy.otf')  format('opentype'),
	     url('HelveticaNeue-Heavy.woff') format('woff'), url('HelveticaNeue-Heavy.ttf')  format('truetype'), url('HelveticaNeue-Heavy.svg#HelveticaNeue-Heavy') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Bold.woff') format('woff'), url('HelveticaNeue-Bold.ttf')  format('truetype'), url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),  url('HelveticaNeue-Medium.woff') format('woff'), url('HelveticaNeue-Medium.ttf')  format('truetype'), url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
