@font-face {
	font-family: 'MyriadPro';
	src: url('./MYRIADPROREGULAR.eot');
	src: local('MYRIADPROREGULAR'), url('./MYRIADPROREGULAR.woff') format('woff'), url('./MYRIADPROREGULAR.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
	font-family: 'MyriadPro';
	src: url('./MyriadProBoldCondensed.eot');
	src: local('MyriadProBoldCondensed'), url('./MyriadProBoldCondensed.woff') format('woff'), url('./MyriadProBoldCondensed.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;

}
@font-face {
	font-family: 'MyriadPro';
	src: url('./MyriadProSemibold.eot');
	src: local('MyriadProSemibold'), url('./MyriadProSemibold.woff') format('woff'), url('./MyriadProSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}