
.icon-phone-2:before { content: '\e800'; } /* '' */
.icon-dot:before { content: '\e801'; } /* '' */
.icon-caret:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-avatar:before { content: '\e804'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-basket:before { content: '\e808'; } /* '' */
.icon-arrow-up-shorter:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-arrow-up:before { content: '\e811'; } /* '' */
.icon-clients:before { content: '\e816'; } /* '' */
.icon-alarm-clock:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-delete:before { content: '\e819'; } /* '' */
.icon-little-down:before { content: '\e81a'; } /* '' */
.icon-little-up:before { content: '\e81b'; } /* '' */
.icon-triangle-right:before { content: '\e81c'; } /* '' */
.icon-picnic-basket:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-arrow-left:before { content: '\e820'; } /* '' */
.icon-contact:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-paper-plane:before { content: '\e824'; } /* '' */
.icon-go:before { content: '\e825'; } /* '' */
.icon-transport:before { content: '\e826'; } /* '' */
.icon-time-2:before { content: '\e827'; } /* '' */
.icon-box-2:before { content: '\e828'; } /* '' */
.icon-arrow-right-2:before { content: '\e829'; } /* '' */
.icon-magnifying-glass-2:before { content: '\e82a'; } /* '' */
.icon-star-full:before { content: '\e82b'; } /* '' */
.icon-prev:before { content: '\e82c'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */