@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?98636704');
  src: url('../font/fontello.eot?98636704#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?98636704') format('woff2'),
       url('../font/fontello.woff?98636704') format('woff'),
       url('../font/fontello.ttf?98636704') format('truetype'),
       url('../font/fontello.svg?98636704#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98636704#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-phone-2:before { content: '\e800'; } /* '' */
.icon-dot:before { content: '\e801'; } /* '' */
.icon-caret:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-avatar:before { content: '\e804'; } /* '' */
.icon-arrow-right:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\e807'; } /* '' */
.icon-basket:before { content: '\e808'; } /* '' */
.icon-arrow-up-shorter:before { content: '\e809'; } /* '' */
.icon-star:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-arrow-up:before { content: '\e811'; } /* '' */
.icon-clients:before { content: '\e816'; } /* '' */
.icon-alarm-clock:before { content: '\e817'; } /* '' */
.icon-calendar:before { content: '\e818'; } /* '' */
.icon-delete:before { content: '\e819'; } /* '' */
.icon-little-down:before { content: '\e81a'; } /* '' */
.icon-little-up:before { content: '\e81b'; } /* '' */
.icon-triangle-right:before { content: '\e81c'; } /* '' */
.icon-picnic-basket:before { content: '\e81d'; } /* '' */
.icon-user:before { content: '\e81e'; } /* '' */
.icon-arrow-left:before { content: '\e820'; } /* '' */
.icon-contact:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-paper-plane:before { content: '\e824'; } /* '' */
.icon-go:before { content: '\e825'; } /* '' */
.icon-transport:before { content: '\e826'; } /* '' */
.icon-time-2:before { content: '\e827'; } /* '' */
.icon-box-2:before { content: '\e828'; } /* '' */
.icon-arrow-right-2:before { content: '\e829'; } /* '' */
.icon-magnifying-glass-2:before { content: '\e82a'; } /* '' */
.icon-star-full:before { content: '\e82b'; } /* '' */
.icon-prev:before { content: '\e82c'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */